body{
  background-image: url(https://images.unsplash.com/photo-1531972497489-8eb337acf6e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=193456e9385b553747a5e0f0cbc7badb&auto=format&fit=crop&w=1334&q=80);
  background-size: cover;
  height: 100%;
}
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;
}
body,
.more-snow {
  &:before,
  &:after {
    content: "";
    position: fixed;
    top: -3000%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(black, 0.01);
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 30%;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
}
body {
  &:before {
    filter: blur(6px);
    opacity: 0.8;
  }
  &:after {
    filter: blur(1px);
    top: -1500%;
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 90%;
    animation-duration: 200s;
  }
}
.more-snow {
  &:before {
    filter: blur(4px);
    opacity: 0.8;
    top: -2500%;
    background-size: 60%;
    animation-duration: 400s;
  }
  &:after {
    filter: blur(2px);
    opacity: 0.8;
    top: -2000%;
    background-image: url(https://laviwebfiles.com/stage/codepen/4-2-white-snow-png.png);
    background-size: 70%;
    animation-duration: 300s;
  }
}

@-webkit-keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.santa {
  position: relative;
  width: 210px;
  height: 330px;
}

.hat {
  position: absolute;
  background: #ef5c53;
  width: 100%;
  height: 90px;
  top: 30px;
  border-radius: 100px 100px 0 0;
  box-shadow: inset 30px 0 20px rgba(0,0,0, 0.1);
  z-index: 1;
}

.hat:after {
  content: '';
  position: absolute;
  width: 120%;
  height: 48px;
  background: #fff;
  border-radius: 50px;
  top: 90px;
  margin-left: -10%;
  box-shadow: inset 30px 0 20px rgba(0,0,0,0.1);
}

.hat:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;;
  background: #fff;
  border-radius: 50%;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: inset 30px 0 20px rgba(0,0,0,0.1);
}


.ear {
  position: absolute;
  width: 48px;
  height: 48px;
  background: #ffe1c7;
  top: 174px;
  border-radius: 50%;
  z-index: -2;
}

.ear.left {
  left: -24px;
}

.ear.right {
  right: -24px;
}

.face {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  border-radius: 0 0 120px 120px;
  overflow: hidden;
}

.face i:nth-of-type(1),
.face i:nth-of-type(2){
  position: absolute;
  width: 45%;
  height: 45%;
  background: #ffe1c7;
  top: 0;
  display: block;
  border-radius: 0 0 45% 45%;
  overflow: hidden;
}

.face i:nth-of-type(1) {
  left: 5%;
}

.face i:nth-of-type(2) {
  right: 5%;
}

.eye {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #000;
  top: 30px;
  border-radius: 50%;
}

.eye.left{
  left: 55px;
}

.eye.right{
  right: 55px;
}

.nose {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ef5c53;
  top: 48px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
}

.beard {
  position: absolute;
  width: 100%;
  height: 180px;
  background: #f4f4f4;
  bottom: 0;
  border-radius: 0 0 200px 200px;
  box-shadow: inset 0 -20px 20px rgba(0,0,0,0.1);
  z-index: -1;
}

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  color: #B22222;
}
h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: #B22222;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
